* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    color: rgb(180, 180, 231);
}

main {
    padding: 1.5em;
    max-width: 850px;
    margin: 0 auto;
}

.content-img {
    margin: 1em auto;
    max-width: 300px;
}

.content-img img {
    max-width: 100%;
}

.box-word {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    position: relative;
}

.box-word p {
    width: 100%;
    max-width: 40px;
    height: 1.2em;
    font-size: 3em;
    border-bottom: 1px solid black;
}

.button-clue {
    border: none;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1em;
    background-color: rgb(0, 44, 110);
    color: white;
}

.button-clue:disabled {
    background-color: crimson;
    color: rgb(172, 172, 172);
}

.buttons {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 5px;
}

.buttons button {
    padding: 20px;
    background-color: rgb(78, 149, 241);
    cursor: pointer;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

.buttons button:hover {
    background-color: rgb(54, 107, 177);
}

.buttons .on-word  {
    background-color: rgb(77, 194, 77);
}

.buttons .off-word {
    background-color: rgb(235, 63, 63);
}

.button .off {
    background-color: darkcyan !important;
}

.used-letters {
    margin: 2em;
    font-size: 2em;
}