@import 'menu.css';

:root {
    --font-color: rgb(51, 51, 51);
    --bg-color-black-trasp: rgba(0, 0, 0, 0.911);
    --button-bg: rgb(121, 121, 236);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-size: cover;
}

main {
    margin: 0 auto;
    height: 100vh;
    max-width: 900px;
}

main::after {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    content: ' ';
    height: 100%;
    width: 100vw;

}

@media (max-width: 700px) {
    /* main {
        background-image: url('https://cutewallpaper.org/21/meme-phone-wallpapers/Forced-Meme-Mobile-Phone-Wallpaper-ID-19286.jpg');
        background-size: cover;
    } */

    .container-forca {
        height: auto !important;
    }
}

h2 {
    color: var(--font-color);
    text-align: center;
    font-size: clamp(1.5em, 30vw, 2em);
}

.container-forca {
    padding: 1.5em 1.5em 0 1.5em;
    max-width: 850px;
    position: relative;
    margin: 0 auto;
    animation: 1s opacity-animation ease-out;
    z-index: 1;
}


@keyframes opacity-animation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.content-img {
    margin: 1em auto;
  text-align: center;
  
}

.content-img img {
    width: clamp(250px, 20vw, 300px);
    height: 250px;
}

.box-word {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    position: relative;
}

.div-word {
    display: flex;
    gap: 10px;
    max-width: 100%;
}

.div-word span {
    text-align: center;
    width: 50px;
    height: 1.4em;
    font-size: clamp(2em, 50%, 3em);
    color: var(--font-color);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.button-clue {
    border: none;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1em;
    background-color: rgb(0, 44, 110);
    color: white;
    margin-bottom: 1em;
}

.button-clue:disabled {
    background-color: crimson;
    color: rgb(172, 172, 172);
}

.buttons {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 5px;
}

.buttons button {
    padding: 20px;
    background-color: rgb(78, 149, 241);
    cursor: pointer;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

.buttons button:hover {
    background-color: rgb(54, 107, 177);
}

.buttons .on-word  {
    background-color: rgb(77, 194, 77);
}

.buttons .off-word {
    background-color: rgb(235, 63, 63);
}

.button .off {
    background-color: darkcyan !important;
}

.used-letters {
    margin: 2em;
    font-size: 2em;
}